@charset "utf-8";
/* CSS Document */

/* 最大宽度 640px */
@media screen and (max-width: 640px) {
	body{ font-size:24px}

}

/* 最大宽度480PX */
@media screen and (max-width: 480px) {
	body{ background:#DEDCDD; font-size:18px}
	em {
	display: block;
	padding-left: 25px;
	height: 22px;
	line-height: 22px;
	margin-right: 10px;
	float: right;
	font-size: 16px; }
	/* 瀑布流 */
	.water_user{font-size:16px;}
	.option_item{padding-left:16%;font-size:17px;}
	.option_coll,.option_comt{background-size:auto 75%;}
	.story{width:27%;}
	
}
em.prise{ background-size:22px}
em.share{ background-size:22px}
em.rep{ background-size:22px}

a.duarr_open{ width:22px; height:22px; background:url(../images/du_arr.png) no-repeat; display:inline-block; background-size:22px }
a.duarr_close{ width:22px; height:22px; background:url(../images/du_arr.png) 0 -23px no-repeat; display:inline-block; }
.replyUl h3{ font-size:18px}
.replyUl p{ font-size:18px}
}



















