@charset "utf-8";
/* CSS Document */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
html{overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body,ul,dl,dd,dt,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,img,td,div,input{margin:0;padding:0;}
ul,ol,li{list-style-type:none}
li{vertical-align:0}
h1,h2,h3,h4,h5,h6{ font-weight:normal}
a{outline-style:none;color:#5a5a5a;text-decoration:none}
a:hover{color:#5a5a5a; text-decoration:none}
body{ background:#DEDCDD; overflow-x:hidden; font-family:Microsoft Yahei;font-size:24px;}
body,input,select,textarea{   color:#666}
img,object,embed,video{	max-width:100%; border:none}
i,em{ font-style:normal}
.clear{clear:both;height:0px;line-height:0px;overflow:hidden;font-size:0px;}
.hidden{display:none;}
.fv{font-family:"微软雅黑"}
.fl{ float:left}
.fr{ float:right}
.pr{ position:relative}
.pa{ position:absolute}
.ie6 img{ width:100%; border:none}
.img-block img{ display:block}

/*
	border-radius:5px; > ie 
	-moz-border-radius:5px; > firefox 
	-webkit-border-radius:5px; > chrome
	background:#FFF;
	background:-webkit-linear-gradient(top, #FFFFFF, #e8e8e8); > chrome 
	background:-moz-linear-gradient(top, #FFFFFF, #e8e8e8); > firefox 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#e8e8e8'); > ie
*/
.clearfix:before,.clearfix:after{display:table;content:" "}.clearfix:after{clear:both}
.clear{clear:both;height:0px;line-height:0px;overflow:hidden;font-size:0px;}
.hidden{display:none;}
.fv{font-family:"微软雅黑"}
.fl{ float:left}
.fr{ float:right}
.pr{ position:relative}
.pa{ position:absolute}
.ie6 img{ width:100%; border:none}
.block-img img{ display:block}


.pageBox{
	width:100%;
	max-width:640px;
	min-width:320px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}
.ftBlack{ color:#000}
.img-responsive{ width:100%}
.f18{ font-size:18px}
.f20{ font-size:20px}
.f24{ font-size:24px}
.f28{ font-size:28px}
.f30{ font-size:30px}

.lh120{ line-height:120%}
.lh150{ line-height:150%}
.lh160{ line-height:160%}
.lh180{ line-height:180%}
.lh200{ line-height:200%}

.mt10{ margin-top:10px}
.mt20{ margin-top:20px}
.mb10{ margin-bottom:10px}
.mb20{ margin-bottom:20px}
.p10{ padding:10px}
.p15{ padding:15px}

.pageBox{
	width:100%;
	max-width:640px;
	min-width:320px;
	margin-left:auto;
	margin-right:auto;
}


.whiteBg{
	background:#fff
}
.greyBg{
	background:#EEE9E5;
}
.greyBg2{
	background:#EFEFEF;
}

.ul{
	display:block;
	overflow:hidden;
}
.blueTit{
	height:40px;
	color:#0085c3;
	display:block;
	font-size:16px;
	line-height:20px;
	margin-bottom:4px;
	overflow:hidden;
}
.abbr{
	height:36px;
	color:#626262;
	display:block;
	font-size:14px;
	line-height:18px;
	overflow:hidden;
}

.border-ronnd{-moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  border-radius: 5px}














.footer{
	color:#80C3E0;
	line-height:20px;
	text-align:center;
	padding-top:8px;
	padding-right:52px;
	padding-bottom:8px;
	position:relative;
}
.footer img{
	width:52px;
	height:52px;
	margin-top:-26px;
	position:absolute;
	right:0px;
	top:50%;
}
.footer2{color:#a7a4a2;}
/* footer end */


.page-bg{
	width:100%;
	height:100%;
	min-height:100%;
	background:url(../images/bg4.png) repeat;
	position:fixed;
	left:0px;
	top:0px;
	z-index:100;
}
.coll-div{
	width:80%;
	border-radius:6px;
	margin:-60px 0 0 -2px;
	border:1px solid #C8C7C6;
	background:#fff;
	position:fixed;
	left:10%;
	top:50%;
	z-index:110;
}
.close{
	width:20px;
	height:20px;
	cursor:pointer;
	background:url(../images/bg14.jpg) no-repeat center center;
	background-size:16px 16px;
	position:absolute;
	right:10px;
	top:8px;
}
.collD-p{
	height:30px;
	font-size:22px;
	line-height:30px;
	text-align:center;
	padding:50px 0 40px;
}
.collD-p span{
	color:#007eba;
	padding-left:30px;
	background:url(../images/bg15.jpg) no-repeat left center;
	background-size:26px 18px;
}
.share-div{
	width:60%;
	overflow:hidden;
	padding:5px 5% 0 35%;
	position:fixed;
	left:0px;
	top:0px;
	z-index:110;
}
.share-div img{float:right;}
























